# Application config
PORT=8585
BASE_URL=http://localhost
TZ="Asia/Phnom_Penh"
DEBUG=false
API_VERSION=1

# Database Configuration Local Server
DB_DRIVER=postgres
DB_HOST=localhost
DB_PORT=5432
DB_DATABASE=db_name
DB_USERNAME=postgres
DB_PASSWORD=p@ssword
DB_LOGGING=false

DB_SCHEMA=schema_name

# # Redis Configuration
# REDIS_TTL=0
# REDIS_HOST=localhost
# REDIS_PORT=6379
# REDIS_PASSWORD=p@ssword